@charset "UTF-8";
/*  
모달 CSS 

.modal {
  display: none; /* 기본적으로 숨겨진 상태
  position: fixed; 스크롤 영역에 영향을 받지 않음
  z-index: 1000; 다른 요소 위에 표시
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; 모달 창 내용이 넘치면 스크롤바 표시
  background-color: rgba(0, 0, 0, 0.4); 배경 어둡게
}

.modal-content {
  position: relative;
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  width: 80%;
  border: 1px solid #888;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
}

.progress-bar {
  height: 20px;
  background-color: #ddd;
  border-radius: 10px;
}

.progress {
  height: 100%;
  background-color: #4caf50;
  border-radius: 10px;
}


파일 업로드 드롭박스

.drop-area {
  border: 2px dashed #ccc;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.drop-area.dragover {
  border-color: #4CAF50;
}

.drop-text {
  display: block;
  margin-bottom: 10px;
}

.file-label {
  display: inline-block;
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.file-input {
  display: block;
}

.upload-btn {
  display: block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.upload-btn:hover {
  background-color: #45a049;
}
 */